.header {
  padding: var(--space-40) 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  overflow: visible;
  background: linear-gradient(
  hsl(0, 0%, 100%) 0%,
  hsla(0, 0%, 100%, 0.95) 19%,
  hsla(0, 0%, 100%, 0.90) 34%,
  hsla(0, 0%, 100%, 0.80) 47%,
  hsla(0, 0%, 100%, 0.70) 56.5%,
  hsla(0, 0%, 100%, 0.55) 65%,
  hsla(0, 0%, 100%, 0.40) 73%,
  hsla(0, 0%, 100%, 0.25) 80.2%,
  hsla(0, 0%, 100%, 0.15) 86.1%,
  hsla(0, 0%, 100%, 0.08) 91%,
  hsla(0, 0%, 100%, 0.04) 95.2%,
  hsla(0, 0%, 100%, 0.01) 98.2%,
  hsla(0, 0%, 100%, 0) 100%);

  @media (max-width: 768px) { 
    padding: var(--space-24) 0; 
  }
}

.headerBlur {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--space-40);
  gap: 0;
  position: relative;
  z-index: 1;

  @media (max-width: 768px) { 
    padding: 0 var(--space-24); 
  }

  .menuSlot{
    display: flex;
    align-items: center;
    gap: var(--space-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .signature {
    width: 36px;
    height: 36px;
  }

  .logo {
    position: absolute;
    margin-top: var(--space-4);
    left: 50%;
    transform: translate(-50%);

    img{
      mix-blend-mode: difference;
    }
  }

  .logo a:focus-visible {
    outline: 2px solid #007bff;
    outline-offset: 4px;
    border-radius: 4px;
  }
}
