.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .hero {
    max-width: 860px;
    text-align: center;
    margin: var(--space-64) auto var(--space-120) auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heroImage{
    width: 100%;
    height: auto;
  }
}

