.footer {
  margin-top: var(--space-64);
  position: fixed;
  bottom: var(--space-40);
  left: 0;
  right: 0;
  z-index: 9999;

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 32px;

    button {
      transition: all 150ms ease;
    }

    &.innerAtBottom {
      button {
        width: 100%;
      }
    }

    .slot {
      min-height: var(--space-48);
      display: flex;
      align-items: stretch;
      flex-direction: column;
      align-items: center;

      .buttonWrap {
        display: flex;
        justify-content: center;
        width: 15.5rem;

        button {
          width: 100%;
        }
      }

      .popupButton {
        width: auto;

        button {
          background: rgba(240, 240, 235, 0.40);
          backdrop-filter: blur(12px);
          transition: all 150ms ease;
          width: auto !important;

          &:hover {
            background: rgba(240, 240, 235, 0.60);
            backdrop-filter: blur(24px);
          }
        }
      }

      .buttonWrapAlwaysVisible {
        width: 15.5rem;
      }
    }
  }
}
