.why{
  padding: var(--space-96) 0;
  background-color: var(--color-surface-muted);
  margin: var(--space-0) auto var(--space-96);
  border-radius: var(--radius-2xl);
  width: 100%;

  @media (max-width: 960px) {
    padding: var(--space-48) var(--space-32);
    width: auto;
    margin-bottom: var(--space-0);
    border-radius: var(--radius-zero);
  }

  .content{
    display: flex;
    flex-direction: column;
    gap: var(--space-32);

    @media (max-width: 960px) {
      gap: var(--space-24);
    } 
  }

  .header{
    display: flex;
    flex-direction: column;
    gap: var(--space-40);

    @media (max-width: 960px) {
      gap: var(--space-16);
    }

    .description{
      color: var(--color-text-muted);
    }
  }

  .foot{
    color: var(--color-text-muted);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    flex-wrap: wrap;
    gap: var(--space-0);
    justify-content: space-between;
    width: 100%;
    border-radius: var(--radius-2xl);

    @media (max-width: 960px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    } 

    .stat {
      display: flex;
      flex-direction: column;
      gap: var(--space-8);
      align-items: flex-start;
      flex: 1;
      padding-right: var(--space-32);
      padding-top: var(--space-12);
      padding-bottom: var(--space-32);
      border-bottom: 1px solid var(--color-border-muted);

      @media (max-width: 960px) {
        padding-right: var(--space-0);
        padding-bottom: var(--space-24);
        padding-top: var(--space-24);
      } 

      &:nth-child(1) {
        @media (max-width: 960px) {
          padding-top: var(--space-0);
        }
      }

      &:nth-child(4),
      &:nth-child(3) {
        border: none;
        padding-top: var(--space-24);

        @media (max-width: 960px) {
          border-top: 1px solid var(--color-border-muted);
          padding-bottom: var(--space-24);
          padding-top: var(--space-24);
        } 
      }

      &:nth-child(3) {

        @media (max-width: 960px) {
          border: none
          padding-bottom: var(--space-24);
          padding-top: var(--space-24);
        } 
      }

      .description,
      .no {
        color: var(--color-text);
      }
    }
  }
}







