.button {
  line-height: 1;
  border: none;
  cursor: pointer;
  transition: transform 150ms ease, background-color 150ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: var(--radius-full);
  corner-shape: superellipse(1.15);
  box-sizing: border-box;

  &:focus-visible {
    outline: 0.125rem solid #007bff;
    outline-offset: 0.125rem;
  }

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.fullWidth {
    width: 100%;
  }
}

.icon {
  padding: 0 !important;
  aspect-ratio: 1 / 1;

  &.iconSmall {
    inline-size: var(--space-32);
    block-size: var(--space-32);
  }

  &.iconMedium {
    inline-size: var(--space-40);
    block-size: var(--space-40);
  }

  &.iconLarge {
    inline-size: var(--space-48);
    block-size: var(--space-48);
  }

  &.iconHuge {
    inline-size: var(--space-64);
    block-size: var(--space-64);
  }
}


/* Variants */

.cta{
  background: radial-gradient(70.31% 70.31% at 50% 29.69%, #619BFF 0%, #619BFF 34.13%, #E8D178 100%);
  color: var(--color-text-on-surface);
  transition: transform 300ms ease;
  transform: scale(1);

  &:hover:not(:disabled) {
    transform: scale(1.015);
  }
}


.primary {
  background-color: var(--color-surface);
  color: var(--color-text-on-surface);

  &:hover:not(:disabled) {
    background-color: var(--color-surface-elevated);
  }
}

.primaryOnDark{
  background-color: var(--color-background);
  color: var(--color-text);

  &:hover:not(:disabled) {
    background-color: #e2e6ea;
  }
}

.secondary {
  background-color: var(--color-surface-muted);
  color: var(--color-text-on-surface-elevated);

  &:hover:not(:disabled) {
    background-color: #DEDEDE;
  }
}

.outline {
  background-color: transparent;
  color: var(--color-surface);
  border: 1px solid var(--color-border-elevated);
  box-sizing: border-box;
  transition: border-color 150ms ease, color 150ms ease;

  &:hover:not(:disabled) {
    border-color: var(--color-border-muted);
    color: var(--color-surface);
  }
}

.ghost {
  background-color: transparent;
  color: var(--color-surface);

  &:hover:not(:disabled) {
    background-color: var(--color-surface-muted);
  }
}

.ghostOnDark {
  background-color: transparent;
  color: var(--color-text-on-surface);

  svg{
    fill: var(--color-text-on-surface);
  }

  &:hover:not(:disabled) {
    background-color: var(--color-surface-ghost-on-dark);
  }
}

/* Sizes */
.small {
  padding: var(--space-8) var(--space-12);

  &:active{
    transform: scale(0.90);
  }
}

.medium {
  padding: var(--space-12) var(--space-16);
  
  &:active{
    transform: scale(0.95);
  }
}

.large {
  padding: var(--space-16) var(--space-20);

  &:active{
    transform: scale(0.98);
  }
}

.huge {
  padding: var(--space-24) var(--space-28);

  &:active{
    transform: scale(0.99);
  }
}
