.button {
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  border: none;
  cursor: pointer;
  transition: transform 150ms ease, background-color 150ms ease, box-shadow 150ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  letter-spacing: 0.25px;
  border-radius: var(--radius-full);
  corner-shape: superellipse(1.05);
  box-sizing: border-box;

  &:focus-visible {
    outline: 0.125rem solid #007bff;
    outline-offset: 0.125rem;
  }

  &:button:active {
    transform: scale(0.98);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.fullWidth {
    width: 100%;
  }
}

.icon {
  padding: 0 !important;
  aspect-ratio: 1;

  &.iconSmall {
    inline-size: var(--space-6);
    block-size: var(--space-6);
  }

  &.iconMedium {
    inline-size: var(--space-7);
    block-size: var(--space-7);
  }

  .iconLarge {
    inline-size: var(--space-8);
    block-size: var(--space-8);
  }
}


/* Variants */
.primary {
  background-color: var(--color-surface);
  color: var(--color-text-on-surface);

  &:hover:not(:disabled) {
    background-color: #0056b3;
  }
}

.primaryOnDark{
  background-color: var(--color-background);
  color: var(--color-text);

  &:hover:not(:disabled) {
    background-color: #e2e6ea;
  }
}

.secondary {
  background-color: var(--color-surface-muted);
  color: var(--color-text-on-surface-elevated);

  &:hover:not(:disabled) {
    background-color: #545b62;
  }
}

.outline {
  background-color: transparent;
  color: var(--color-surface);
  border: 2px solid var(--border-color);
  box-sizing: border-box;

  &:hover:not(:disabled) {
    border-color: var(--border-color-elevated);
    color: var(--color-surface);
  }
}

.ghost {
  background-color: transparent;
  color: var(--color-surface);

  &:hover:not(:disabled) {
    background-color: var(--color-surface-muted);
  }
}

.ghostOnDark {
  background-color: transparent;
  color: var(--color-text-on-surface);

  &:hover:not(:disabled) {
    background-color: var(--color-surface-on-surface-muted);
  }
}

/* Sizes */
.small {
  padding: var(--space-2) var(--space-3);
  font-size: var(--body);

  &:active{
    transform: scale(0.90);
  }
}

.medium {
  padding: var(--space-3) var(--space-4);
  font-size: var(--body);
  
  &:active{
    transform: scale(0.95);
  }
}

.large {
  padding: var(--space-4) var(--space-5);
  font-size: var(--body);

  &:active{
    transform: scale(0.98);
  }
}
