.container {
  max-width: 1440px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .hero {
    max-width: 860px;
    text-align: center;
    margin: var(--space-64) auto var(--space-120) auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--space-32);

    @media (max-width: 960px) {
      margin: var(--space-64) auto var(--space-24) auto;
    }
  }

  .title {
    margin: 0;
  }

  .heroImage {
    width: 100%;
    height: auto;
  }
}
