.section {
  padding: var(--space-64) 0;
  margin: 0 var(--space-32);

  @media (max-width: 1140px) {
    padding: var(--space-64) 0 var(--space-24);
    margin: 0 var(--space-16);
  }

  @media (max-width: 960px) {
    margin: 0;
  }

  .inner {
    display: flex;
    flex-direction: column;
    gap: var(--space-32);
  }

  .embla {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
  }

  .viewport {
    overflow: hidden;
    
    @media (max-width: 960px) {
      padding: 0 var(--space-16);
    }
  }

  .container {
    display: flex;
    gap: var(--space-40);
    /* padding-right: var(--space-24); */
    padding-bottom: var(--space-8);
  }

  .slide {
    flex: 0 0 calc(100% / 3 - var(--space-28));
    min-width: 0;

    @media (max-width: 1200px) {
      flex-basis: 50%;
    }

    @media (max-width: 960px) {
      flex-basis: 100%;
    }
  }

  .slideInner {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-2xl);
    corner-shape: superellipse(1.25);
    padding: var(--space-32);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: var(--space-16);
    min-height: 380px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
  }

  .introCard {
    background: var(--color-surface);
    color: var(--color-text-on-surface);
    background: radial-gradient(70.31% 70.31% at 50% 29.69%, #71B37D 0%, #71B37D 38.46%, #2395CE 100%);
  }

  .introTitle,
  .introDescription {
    margin: 0;
    color: var(--color-text-on-surface-elevated);
  }

  .stepLabel,
  .stepTitle,
  .stepDescription {
    margin: 0;
  }

  .stepLabel {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--color-text-on-surface);
    position: absolute;
    top: var(--space-32);
    height: 48px;
    background-color: var(--color-surface);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    border-radius: var(--radius-full);
  }

  .controls {
    display: flex;
    align-items: center;
    gap: var(--space-24);
    justify-content: space-between;

    @media (max-width: 960px) {
      margin: 0 var(--space-16);
    }
  }

  .progress {
    display: flex;
    align-items: center;
    width: 120px;
    height: 64px;
    border-radius: var(--radius-full);
    padding-left: var(--space-24);
    padding-right: var(--space-24);
  }

  .progressTrack {
    position: relative;
    width: 100%;
    height: var(--space-8);
    background: var(--color-background-muted);
    border-radius: var(--radius-full);
    
  }

  .progressFill {
    height: 100%;
    width: 100%;
    background: var(--color-text);
    width: 0%;
    transform-origin: left center;
    transition: transform 120ms ease-out;
    will-change: transform;
    border-radius: var(--radius-2xl);
    outline: var(--space-8) solid var(--color-background);
    opacity: 0;
  }

  .buttons {
    display: flex;
    gap: var(--space-4);
    justify-content: flex-end;

    @media (max-width: 960px) {
      justify-content: flex-start;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .progressFill {
      transition: none;
    }
  }
}
