.header {
  width: 100%;
  border-radius: var(--radius-2xl);
  box-sizing: border-box;
  padding: 0 var(--space-64) var(--space-96) var(--space-64);

  @media (max-width: 960px) {
    padding: 0 var(--space-32) var(--space-48) var(--space-32);
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    margin-bottom: var(--space-24);
  }
}
