.mission {
  padding: var(--space-120) 0;
  margin: 0 auto var(--space-64);
  border-radius: var(--radius-2xl);
  background-image: url('/img/mission-bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 1440px) {
    padding: var(--space-64) var(--space-32) var(--space-64) var(--space-32);
    margin: var(--space-64) var(--space-32);
    margin-bottom: 0;
  
  }

  @media (max-width: 960px) {
    padding: var(--space-64) var(--space-32) var(--space-64) var(--space-32);
    margin: var(--space-64) 0 0 0;
    margin-bottom: 0;
    border-radius: 0;
  }
}

.inner {
  display: flex;
  justify-content: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-16);

  .title {
    margin: 0;
    color: var(--color-text);
    text-wrap: balance;
  }

  button{
    margin-top: var(--space-16);
  }
}
