.team {
  width: 100%;
  border-radius: var(--radius-2xl);
  box-sizing: border-box;
  padding: var(--space-64);

  @media (max-width: 960px) {
    padding: var(--space-48) var(--space-32) var(--space-48) var(--space-32);
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-32);

    @media (max-width: 960px) {
      gap: var(--space-20);
    }
  }
}

.teamMembers {
  display: flex;
  gap: var(--space-96);
  justify-content: center;
  border-radius: var(--radius-2xl);
  padding: var(--space-64) var(--space-0);

  @media (max-width: 960px) {
    overflow: hidden;
    margin-left: calc(-1 * var(--space-32));
    overflow: scroll;
    margin-right: calc(-1 * var(--space-32));
    padding-top: var(--space-40);
    padding-bottom: var(--space-40);
    padding-right: var(--space-48);
    padding-left: var(--space-48);
    justify-content: flex-start;
    gap: var(--space-48);
  }
}

.teamMember {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  align-items: center;
}

.teamMemberImage {
  width: 116px;
  height: 116px;
  object-fit: cover;
}

.teamMemberInfo {
  display: flex;
  flex-direction: column;
  gap: 0;
  text-align: center;
  align-items: center;
}

.teamMemberName {
  color: var(--color-text);
  letter-spacing: -0.52px;
  line-height: 1.3;
}

.teamMemberRole {
  color: var(--color-text-muted);
  letter-spacing: -0.52px;
  line-height: 1.3;
}

.teamMembersDesc {
  color: var(--color-text-muted);
}
