.section {
  padding: var(--space-24) 0;
  margin: 0 var(--space-32);

  @media (max-width: 1440px) {
    padding: 0;
  }

  @media (max-width: 960px) {
    margin: 0;
  }

  .inner {
    display: flex;
    flex-direction: column;
  }

  .card {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: end;
    gap: var(--space-48);
    align-items: stretch;
    background: var(--color-surface-muted);
    border-radius: var(--radius-2xl);
    background-image: url('/img/hero-bg-p.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: var(--space-32)  var(--space-32) var(--space-64) var(--space-32);
    height: 85vh;
    max-height: 860px;

    @media (max-width: 960px) {
      grid-template-columns: 1fr;
      gap: var(--space-32);
      padding: 0;
      border-radius: 0;
    }

    .content {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: var(--space-32);
      grid-area: 2 / 2 / 3 / 3;
      justify-content: flex-end;

      @media (max-width: 960px) {
        margin-bottom: var(--space-64);
      }

      .title {
        margin: 0;
        color: var(--color-text-on-surface);
        text-wrap: balance;

         @media (max-width: 960px) {
          font-size: 2rem;
          padding-right: var(--space-32);
         }
      }

      .actions {
        display: flex;
        justify-content: flex-start;

        @media (max-width: 960px) {
          justify-content: flex-start;
        }
      }
    }
  }  
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  @media (prefers-reduced-motion: reduce) {
    display: none;
  }

  .backgroundVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
