:root {
  --space-0: 0; /* 0px */
  --space-4: 0.25rem; /* 4px */
  --space-8: 0.5rem; /* 8px */
  --space-12: 0.75rem; /* 12px */
  --space-16: 1rem; /* 16px */
  --space-20: 1.25rem; /* 20px */
  --space-24: 1.5rem; /* 24px */
  --space-28: 1.75rem; /* 28px */
  --space-32: 2rem; /* 32px */
  --space-36: 2.25rem; /* 36px */
  --space-40: 2.5rem; /* 40px */
  --space-48: 3rem; /* 48px */
  --space-64: 4rem; /* 64px */
  --space-72: 4.5rem; /* 72px */
  --space-96: 6rem; /* 96px */
  --space-120: 7.5rem; /* 120px */
  --space-128: 8rem; /* 128px */
  --space-160: 10rem; /* 160px */
  --space-192: 12rem; /* 192px */
}

