@font-face {
  font-family: 'InterVariable';
  src: url('/fonts/InterVariable.woff2') format('woff2-variations');
  font-variation-settings: 'opsz' 32;
  font-feature-settings: 'zero' on, 'kern' on;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: 'InterVariable', system-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  --type-hero-size: clamp(3rem, 6vw + 1rem, 6rem);
  --type-hero-weight: 800;

  --type-display-size: clamp(2.5rem, 3vw + 1rem, 3rem); 
  --type-display-weight: 700;

  --type-headline-size: clamp(1.75rem, 2.2vw + 0.9rem, 2rem); /* 28px-32px */
  --type-headline-weight: 600;

  --type-title-size: clamp(1.375rem, 1.6vw + 0.9rem, 1.625rem); /* 22px-26px */
  --type-title-weight: 600;
  
  --type-subtitle-size: clamp(1.125rem, 1vw + 0.9rem, 1.25rem); /* 18px-20px */
  --type-subtitle-weight: 500;

  --type-body-medium-size: 1rem; /* 16px */
  --type-body-medium-weight: 600;
  --type-body-medium-size: 1rem; /* 16px */
  --type-body-medium-weight: 500;
  --type-body-regular-size: 1rem; /* 16px */
  --type-body-regular-weight: 400;
  --body-line-height: 1.5;
  --body-letter-spacing: 0.015rem;
}

.type-hero {
  font-family: var(--font-family);
  font-size: var(--type-hero-size);
  font-weight: var(--type-hero-weight);
}

.type-display {
  font-family: var(--font-family);
  font-size: var(--type-display-size);
  font-weight: var(--type-display-weight);
}

.type-headline {
  font-family: var(--font-family);
  font-size: var(--type-headline-size);
  font-weight: var(--type-headline-weight);
}

.type-title {
  font-family: var(--font-family);
  font-size: var(--type-title-size);
  font-weight: var(--type-title-weight);
}

.type-subtitle {
  font-family: var(--font-family);
  font-size: var(--type-subtitle-size);
  font-weight: var(--type-subtitle-weight);
}

.type-body-bold {
  font-family: var(--font-family);
  font-size: var(--type-body-bold-size);
  font-weight: var(--type-body-bold-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height)
}

.type-body-medium {
  font-family: var(--font-family);
  font-size: var(--type-body-medium-size);
  font-weight: var(--type-body-medium-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height)
}

.type-body-regular {
  font-family: var(--font-family);
  font-size: var(--type-body-regular-size);
  font-weight: var(--type-body-regular-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height)
}
