.approach {
  padding: var(--space-96) 0 var(--space-64);

  /* @media (max-width: 1440px) {
    padding: var(--space-64) var(--space-32) var(--space-64) var(--space-32);
    margin: var(--space-64) var(--space-32);
    margin-bottom: 0;
  
  }

  @media (max-width: 960px) {
    padding: var(--space-64) var(--space-32) var(--space-64) var(--space-32);
    margin: var(--space-64) 0 0 0;
    margin-bottom: 0;
    border-radius: 0;
  } */

    .inner {
        background-image: url('/img/approach-c-bg.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        border-radius: var(--radius-2xl);
        padding: var(--space-120) 0;

        .content{
            display: flex;
            flex-direction: column;
            gap: var(--space-32);

            .title,
            .description {
            color: var(--color-text-on-surface);
            }
        }
    }
}