.approach {
  padding: var(--space-96) 0 var(--space-64);

  @media (max-width: 960px) {
    padding: var(--space-0) var(--space-0) var(--space-0) var(--space-0);
  }

  .inner {
    background-image: url('/img/approach-c-bg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    border-radius: var(--radius-2xl);
    padding: var(--space-120) 0;

    @media (max-width: 960px) {
      border-radius: var(--radius-none);
      padding: var(--space-48) var(--space-32);
    }

    .content{
      display: flex;
      flex-direction: column;
      gap: var(--space-32);

      .title,
      .description {
        color: var(--color-text-on-surface);
      }
    }
  }
}