.switcher {
  position: relative;
  display: inline-flex;
  /* align-items: center; */
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.button {

  &:focus-visible {
    outline: 0.125rem solid var(--color-focus);
    outline-offset: 0.125rem;
  }
}

.value {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-text);
  text-align: center;
  pointer-events: none;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.12);
  opacity: 0;
  will-change: opacity;
}

.menu {
  position: absolute;
  top: calc(100% + var(--space-2));
  right: 0;
  z-index: 90;
  min-width: 12rem;
  max-width: min(90vw, 28rem);
  background-color: var(--color-background);
  padding: var(--space-4);
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius-2xl);
  corner-shape: superellipse(1.25);
  will-change: transform, opacity;

  @media (max-width: 768px) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    max-width: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: var(--space-5);
  }

  .list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--space-2);
  }

  .item {
    padding: var(--space-2) var(--space-3);
    border-radius: var(--radius-md);
    font-size: var(--body);
    font-weight: 500;
    line-height: 1;
    border: none;
    background: none;
    text-align: left !important;
    cursor: pointer;

    &:hover {
      background-color: var(--color-surface-muted);
    }

    &:focus-visible {
      outline: 0.125rem solid var(--color-focus);
      outline-offset: 0.125rem;
    }

    &[aria-checked='true'] {
      background-color: var(--color-surface-muted);
    }
  }
}

