.switcher {
  display: inline-flex;
  align-items: center;
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.control {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-surface-muted);
  border: 0.0625rem solid var(--color-border);
  border-radius: var(--radius-full);
  corner-shape: superellipse(1.15);
  /* padding: var(--space-2) var(--space-4-5) var(--space-2) var(--space-4); */
  transition: background-color 150ms ease, border-color 150ms ease,
    box-shadow 150ms ease;
}

.control:focus-within {
  outline: 0.125rem solid var(--color-focus);
  outline-offset: 0.125rem;
}

.value {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-text);
  min-width: 2rem;
  text-align: left;
  text-align: center;
  pointer-events: none;
  text-transform: uppercase;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border: 0;
  background: transparent;
}

.chevron {
  position: absolute;
  right: var(--space-3);
  top: 50%;
  width: 1rem;
  height: 1rem;
  display: block;
  display: none;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 9L9.4453 12.6302C9.7812 12.8541 10.2188 12.8541 10.5547 12.6302L16 9' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  pointer-events: none;
}
