.container {
  display: flex;
  flex-direction: column;
  padding: var(--space-64) var(--space-24);
  align-items: stretch;

  @media (max-width: 960px) {
    padding: var(--space-64) var(--space-0);
  }
}

.footer{
  @media (max-width: 960px) {
    padding: var(--space-0) var(--space-32) var(--space-40);
  }
}
