.container {
  padding: var(--space-64) var(--space-40);

  @media (max-width: 768px) {
    padding: var(--space-64) var(--space-32);
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);

  .title {
    text-align: center;
    text-wrap: balance;
  }

  .subtitle {
    color: var(--color-text-muted);
  }

  .lastUpdated {
    margin-top: var(--space-8);
  }
}

.sections {
  margin: var(--space-16) auto 0;
  padding: var(--space-40);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-32);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-2xl);

  @media (max-width: 768px) {
    padding: var(--space-32) var(--space-24);
  }

  .intro {
    margin: 0;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
  }

  .section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--space-12);

    .sectionTitle {
      margin-bottom: var(--space-8);
    }

    p {
      color: var(--color-text-muted);
    }

    svg {
      fill: var(--color-green);
    }
  }
}
