.container {
  padding: var(--space-64) var(--space-16);
}

.content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);

  .title{
    text-align: center;
    text-wrap: balance;
    text-transform: capitalize;
  }

  .subtitle {
    color: var(--color-text-muted);
    margin-bottom: var(--space-40);
  }
}


.features{
  width: 480px;
  margin: var(--space-16) auto;
  padding: var(--space-32);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-2xl);

  .heading{
    text-align: center;
    margin-bottom: var(--space-48); 
  }

  .list{
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
  }

  .feature{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: flex-start;
    gap: var(--space-12);

    .featureTitle{
      margin-bottom: var(--space-8);
    }

    p{
      color: var(--color-text-muted);
    }

    svg{
      margin-top: 0.25rem;
      fill: var(--color-green);
    }
  }
}


@media (max-width: 768px) {
  .container {
    padding: var(--space-7) var(--space-4);
  }

  .subtitle {
    font-size: 1rem;
  }
}
