.container {
  padding: var(--space-64) var(--space-40) var(--space-192) var(--space-40);

  @media (max-width: 768px) {
    padding: var(--space-64) var(--space-32) var(--space-160) var(--space-32);
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);

  .title{
    text-align: center;
    text-wrap: balance;
    text-transform: capitalize;
  }

  .subtitle {
    color: var(--color-text-muted);
    margin-bottom: var(--space-40);
  }
}

.features{
  margin: var(--space-16) auto;
  padding: var(--space-40);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-2xl);

  @media (max-width: 768px) {
    padding: var(--space-32) var(--space-24);
  }

  .signature{
    margin: var(--space-32) auto 0 auto;
  }

  .heading{
    text-align: center;
    margin-bottom: var(--space-40);

    @media (max-width: 768px) {
      margin-bottom: var(--space-32);
    }
  }

  .list{
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
  }

  .feature{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: flex-start;
    gap: var(--space-12);

    .featureTitle{
      margin-bottom: var(--space-8);
    }

    p{
      color: var(--color-text-muted);
    }

    svg{
      fill: var(--color-green);
    }
  }
}
