.banner {
  position: fixed;
  left: var(--space-16);
  bottom: var(--space-16);
  z-index: 120;
  width: 348px;
  border-radius: var(--radius-xl);
  padding: var(--space-24);
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  background: rgba(240, 240, 235, 0.40);
  backdrop-filter: blur(50px);

  .message {
    color: var(--color-text);
  }

  .actions {
    display: flex;
    gap: var(--space-48);
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    left: var(--space-12);
    right: var(--space-12);
    width: auto;
    bottom: var(--space-12);
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-32);
  background-color: var(--color-background-surface);
  padding: var(--space-32);
}

.modalTitle {
  color: var(--color-text-on-surface);
}

.modalDescription {
  font-size: var(--body);

  .modalLink {
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }
}

.optionGroup {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  margin-top: var(--space-16);
  margin-bottom: var(--space-16);
}

.option {
  display: flex;
  align-items: center;
  gap: var(--space-16);
  font-size: var(--body);
  color: var(--color-text-on-surface);

  input[type='checkbox'] {
    appearance: none;
    width: 1.15rem;
    height: 1.15rem;
    border-radius: var(--radius-sm);
    corner-shape: superellipse(1.25);
    background-color: var(--color-surface-on-surface-muted);
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: border-color 150ms ease, background-color 150ms ease,
      box-shadow 150ms ease;

    &::after {
      content: '';
      width: 1rem;
      height: 1rem;
      border-radius: 0.125rem;
      transform: scale(0);
      opacity: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 90%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M232.49,80.49l-128,128a12,12,0,0,1-17,0l-56-56a12,12,0,1,1,17-17L96,183,215.51,63.51a12,12,0,0,1,17,17Z'%3E%3C/path%3E%3C/svg%3E");
      transition: transform 150ms ease, background-image 150ms ease;
    }

    &:checked {
      transform: scale(1);
      opacity: 1;
      background-color: var(--color-background);
    }

    &:checked::after {
      transform: scale(1);
      opacity: 1;
    }

    &:focus-visible {
      outline: 0.125rem solid var(--color-focus);
      outline-offset: 0.125rem;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}

.modalActions {
  display: flex;
  justify-content: flex-end;
}

.cookieModal{
  padding: var(--space-20);
  background-color: black;
  border: none;

}
/* 
@media (max-width: 768px) {
  .modalTitle {
    font-size: var(--font-size-xl);
  }
} */
